@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Volkswagen Vehicle Stock Taking</h1>
</div>
<form>
    <p>&nbsp;</p>
    <div class="text-center">
        <h1 class="display-4">Stock was sold</h1>
        <p> Find Stock: <input type="text" asp-for="Stock" />
            <input type="submit" value="Find" />
            <input type="reset" />
        </p>   
    </div>
</form>