@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Volkswagen Vehicle Stock Taking</h1>
</div>
<form>
    <p>&nbsp;</p>
    <div class="text-center">
        <h1 class="display-6">View</h1>
        <p> Display the list of volkswagen vehicles available along with it's features.
            Create, Edit, Delete or view details of each item.
            <a asp-area="" asp-page="/Vehicles/Index">Stock</a>
        </p>
            
        
        <h1 class="display-6">Sell</h1>
        <p> 
            Display the vehicle make and model along with its stock.
            Increase stock after one is sold.
            <a asp-area="" asp-page="/Sales/Index">Sales</a> 
        </p>          

    </div>
</form>