@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web app was created for Newsclip Media Monitoring as an assessement to test a possible candidate's knowledge about Web Apps, Web APIs, Class Libraries and Relational Databases</p>
