html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    border-radius: 8px;
    padding: 1px;
    display: block;
}

input {
    display: inline-block;
    color: #000000;
    text-align: center;
}